
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800">Không tìm thấy trang</p>
    <p class="text-gray-500 mb-0">Xin lỗi, chúng tôi không tìm thấy trang này...</p>
    <a href="~/Admin/Home">← Quay về trang chủ</a>
</div>