@model OnlineShop.Models.User
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i> Xin Chào, @Model.FullName <span class="caret"></span></a>
